.formula-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  i {
    padding: 0 8px;
  }
  sup {
    display: inline-block;
    font-size: 10px;
    transform: scale(0.9);
  }
  .sing {
    color: $Sign;
  }
  .exponent {
    color: $Exponent;
  }
}
.formula-big {
  font-size: 30px;
  height: 30px;
}
.formula-fraction {
  display: flex;
  align-items: center;
  color: $Mantissa;
  .formula-fraction-line {
    background-color: $Mantissa;
  }
}
.formula-fraction-0 {
  opacity: 0.2;
}
.formula-fraction-1 {
  opacity: 1;
}
.formula-fraction-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formula-fraction-line {
  display: inline-block;
  height: 1px;
  width: 30px;
}
.Ieee754formula {
  width: 500px;
  img {
    width: 100%;
  }
}
