.bit-s {
  background-color: $Sign;
}

.bit-e {
  background-color: $Exponent;
}

.bit-m {
  background-color: $Mantissa;
}
.bit-z1 {
  background-color: $Round_1;
}
.bit-z2 {
  background-color: $Round_2;
}
.true {
  color: $true;
}
.false {
  color: $false;
}
