@import '~antd/dist/antd.css';

.none {
  display: none !important;
}
.App {
  padding: 20px;
  padding-top: 130px;
}
.center {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  height: 130px;
  justify-content: center;
  padding-top: 20px;
  //align-items: center;
  background-color: #fff;
}
.user {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.bit-item {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 26px;
  text-align: center;
  border-right: 2px solid #fff;
  margin-bottom: 5px;
}
